<html>
<head>
    <meta charSet="utf-8"/>
    <meta httpEquiv="x-ua-compatible" content="ie=edge"/>
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
</head>
<body>
<div id="divNeteaseBigAttach"
     style="clear: both; margin-top: 1px; margin-bottom: 1px;
       font-family: verdana,Arial,Helvetica,sans-serif;
      border: 1px solid rgba(238, 238, 239, 1);
      box-shadow: 0px 5px 15px rgba(203, 205, 210, 0.3);border-radius: 6px;color: #262A33;">
    <div style="font-size: 13px; padding: 12px 0px 12px 0px; line-height: 16px;border-bottom: 1px solid #ECECED;">
        <b style="padding-left: 12px;">灵犀办公云附件</b>
    </div>

    <div style="background: #fff; padding: 0px 12px;border-radius: 12px;position: relative;">
        <div style="width: 24px;position: absolute;height: 40px;left:16px;top:4px;">
            <a href="${it.fileUrl}">
                <img width="24px" height="24px"
                     src="https://cowork-storage-public-cdn.lx.netease.com/lxbg/2021/06/22/ca9bd44fe5cb439f99b8507c9c0d626d.png"
                     border="0" title="云附件">
            </a>
        </div>
        <div style="padding-right: 32px;margin-left: 30px; border-bottom: 1px solid rgba(38, 42, 51, 0.08);margin-top: 16px;padding-bottom: 16px;">
            <div style="margin-left: 4px;">
                <div style="padding: 1px; font-size: 14px; line-height: 14px;">
                    <a style=" text-decoration: none;color: #262A33;display: block" href="${it.fileUrl}; "
                       target="_blank"
                       rel="noopener"
                       download="${it.fileUrl}">
                        测试文件名特别长长长长长长.abck
                    </a>
                </div>
                <div style="padding: 1px;color: #262A33;opacity: 0.4;font-size: 12px;margin-top: 4px;">
                    67K&nbsp;|&nbsp;过期时间：2021-10-10 23:59:59
                </div>
            </div>
        </div>
        <a class="divNeteaseBigAttachItem" href="${it.fileUrl}"
           download="--替换下载地址--" file-name="--替换文件名--" file-size="--替换文件大小--" expired="--替换过期时间--"
           file-type="--替换文件类型--"
           style=" text-decoration: none;display: block; font-size: 12px; line-height: 12px;position: absolute;right: 16px;top:50%;margin-top: -14px;color:#386EE7">下载</a>
    </div>
    <div style="background: #fff; padding: 0px 12px;border-radius: 12px;position: relative;">
        <div style="width: 24px;position: absolute;height: 40px;left:16px;top:4px;">
            <a href="${it.fileUrl}">
                <img width="24px" height="24px"
                     src="https://cowork-storage-public-cdn.lx.netease.com/lxbg/2021/06/22/ca9bd44fe5cb439f99b8507c9c0d626d.png"
                     border="0" title="云附件">
            </a>
        </div>
        <div style="padding-right: 32px;margin-left: 30px; border-bottom: 1px solid rgba(38, 42, 51, 0.08);margin-top: 16px;padding-bottom: 16px;">
            <div style="margin-left: 4px;">
                <div style="padding: 1px; font-size: 14px; line-height: 14px;">
                    <a style=" text-decoration: none;color: #262A33;display: block" href="${it.fileUrl}; "
                       target="_blank"
                       rel="noopener"
                       download="${it.fileUrl}">
                        测试文件名特别长长长长长长.abck
                    </a>
                </div>
                <div style="padding: 1px;color: #262A33;opacity: 0.4;font-size: 12px;margin-top: 4px;">
                    67K&nbsp;|&nbsp;过期时间：2021-10-10 23:59:59
                </div>
            </div>
        </div>
        <a class="divNeteaseBigAttachItem" href="${it.fileUrl}"
           download="--替换下载地址--" file-name="--替换文件名--" file-size="--替换文件大小--" expired="--替换过期时间--"
           file-type="--替换文件类型--"
           style=" text-decoration: none;display: block; font-size: 12px; line-height: 12px;position: absolute;right: 16px;top:50%;margin-top: -14px;color:#386EE7">下载</a>
    </div>
</div>
<!--

-->
</body>
</html>